  .card-title {
    color: #ffffff;
  }
  .link{
    text-decoration: none;
    color: goldenrod;
  }

  .link:hover{
    color : rgba(14, 179, 255, 0.795);
  }
  /* .card-body {
    padding: 0;
    margin-bottom: 10px;
  }
  .card-body button {
    color: #000000 !important;
    padding: 3px 4px !important;
    background-color: #000000 ;
    color: #ffffff !important;
  }
  .card-body button:hover {
    color: #ffaf04 !important;
    background-color: #000000 ;
  }
  .price {
    color: #000000;
  } */
  