.navigation{
    filter: saturate(200%);
    background-color: #ffffff;
    border-radius: .1rem;
    /* box-shadow: 0px 3px 5px #00000085; */
}
.logo{
    font-size: 1.75rem;
    font-weight: bold;
    color: #FF4F00 !important;
    padding: 0 !important;
    margin-right: auto !important;
}
.nav{
    background-color: rgba(194, 198, 199, 0.432);
    padding: 5px;
    border-radius: 5px ;
    color: #FF4F00 !important;
    font-weight: 500;
    text-decoration: none !important;
}
.nav:hover{
    background-color: lightgrey;
    /* text-decoration: underline #FF4F00 2px !important; */
}
.navbar-toggler{
    color: rgba(255, 255, 255, 0.884) !important;
    border-color: rgba(255, 255, 255, 0.726) !important;
    padding: 2px 2px !important;
}

.navbar-toggler-icon{
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px;
}
.navbar{
    justify-content: end !important;
}

.nav-cart{
    padding: 5px;
    border-radius: 5px ;
    color: #FF4F00 !important;
    font-weight: 900;
    text-decoration: none !important; 
    /* position: absolute; */
    background-color: rgba(194, 198, 199, 0.432);
}