
.info-cart{
    padding: 0 5px;
}
.info-info{
    filter: saturate(200%);
    background-color: #131921;
    color: #FFFFFF;
}
.info-pink{
    background-color: #ffffff;
    /* color: #FFFFFF; */
}
.info-icon{
    font-size:3em;
}
.info-container{
    height: 150px;
    margin: 1rem;
    border-radius: .25rem;
}