
.info-cart{
    padding: 0 5px;
}
.info-info{
    background-color: #000000;
    color: #FFFFFF;
}
.info-pink{
    background-color: #FFBBD2;
}
.info-icon{
    font-size:3em;
}
.info-container{
    height: 150px;
    margin: 1rem;
    border-radius: .25rem;
}