.each-slide > div {
    background-size: cover;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header-btn{
    background: #000000;
    font-weight: bold;
    color: #fffF;
  }
  .header-btn:hover{
    color: #ffaf04 !important;
    border: 1px solid;
  }
  .header-bg{
    background-color: #FFBBD2;
  }
 .default-nav{
    margin: 1rem;
    background-color: rgba(255, 222, 173, 0) !important;
  }