.each-slide > div {
    background-size: cover;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header-bg{
    background-color: rgb(127, 127, 127);
  }
 .default-nav{
    margin: 1rem;
    background-color: rgba(255, 222, 173, 0) !important;
  }