.card-imgs {
  height: 17vh;
  
}
.card-imgs img{
  height: 100%;
  object-fit: center;
  /* filter: saturate(300%); */
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 100%;;
  border: 1px solid #FF7272;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
.cards {
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.527);
  background-color: #000000;
  padding-bottom: 10px;
}
.card-body {
  padding: 0;
  margin-bottom: 10px;
}
.card-body button {
  color: #ffffff !important;
  padding: 2px 3px !important;
  border: 1px solid white;
  color: #ffffff !important;
}
.card-body button:hover {
  border: 1px solid #ffaf04;
  font-weight: 450;
  color: #ffaf04 !important;
}
.price {
  color: #ffffffa1 !important;
}
