.card-imgs {
  height: 25vh;
}
.card-imgs img{
  height: 100%;
  object-fit: center;
  filter: saturate(150%);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:  10px 0px;
  width: 100%;
}
.cards {
  height: 100%;
  border-radius: 10px 0px;
  background-color: #ffffff;
  padding-bottom: 10px;
}
.cards:hover{
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.527);
}
.card-body {
  padding: 0;
  margin-bottom: 10px;
}
.price, .card-title{
  font-weight: 700;
  color: #000000 !important;
}