@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background-color: #F9E1E4 !important;
    font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
